**.venv/
*/__pycache__/
*/.cache/
.pytest_cache
.vscode/
build/
dist/*.tar.gz
*.egg-info/

nohup.out
.env
*.pyc
# Ingore bazel related files: bazel-bin, bazel-out, bazel-testlogs, and bazel-data_ingestion_tool.
**/bazel-*/*
# Node
web/node_modules/
web/.next/
web/.turbo/

# Python venv
.venv/
__pycache__/
*.pyc

# Build artifacts
*.tar
*.zip
