annotated-types==0.7.0
certifi==2024.2.2
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
idna==3.7
iniconfig==2.0.0
loguru==0.7.2
numpy>=2.2,<2.3
opencv-python>=4.12,<4.13
packaging==24.0
pluggy==1.5.0
pydantic==2.6.4
pydantic_core==2.16.3
pypcd==0.1.1
pypcd4==1.0.0
pytest==8.2.2
python-dotenv==1.0.1
python-lzf==0.2.4
requests==2.32.3
typing_extensions==4.12.0
urllib3==2.2.1
xmltodict==0.13.0
typer==0.12.5
rich==13.9.1
matplotlib==3.9.2
tqdm==4.66.5
fastapi==0.115.5
uvicorn==0.32.1
